body{
    text-align: center;
    background-color: rgba(228, 213, 195, 0.046);
}

button{
    color: rgb(243, 252, 243);
    background-color: green;
    cursor: pointer;
    border-radius: 4px;
}

div{
    margin: auto auto;
    width: 80%;
    height: 200px;
    box-shadow: 10px 10px;
    background-color: blueviolet;
}

input{
    padding: 40px;
    font-size: 28px;
    text-align: center;
    border-radius: 12px;
}

